In [8]:
from intermine.webservice import Service
import pandas as pd

In [3]:
service = Service("www.flymine.org/query/service")
query=service.new_query()

In [4]:
query.select("Gene.symbol","Gene.primaryIdentifier", "Gene.length")

In [37]:
for row in query.rows(start=0,size=1):
    row = str(row).split()[1:]
#     print(type(str(row)))
    col1, col2, col3 = row

    
    col1 = col1.split("=")[-1]
    col2 = col2.split("=")[-1]
    col3 = col3.split("=")[-1]

    print(col1, col2, col3)
    print(row)
    print(type(row))
print(col1_name, col2_name, col3_name)

'0610005C13Rik' 'MGI:1918911' None
["symbol='0610005C13Rik'", "primaryIdentifier='MGI:1918911'", 'length=None']
<class 'list'>
symbol primaryIdentifier length

In [10]:
import csv

In [39]:
with open('csvfile.csv','w') as file:
    wr = csv.writer(file, quoting=csv.QUOTE_ALL)
    
    for row in query.rows(start=0,size=10):
        row = str(row).split()[1:]
    #     print(type(str(row)))
        col1, col2, col3 = row


        col1 = col1.split("=")[-1]
        col2 = col2.split("=")[-1]
        col3 = col3.split("=")[-1]
        
        final_row = [col1, col2, col3]
        
        wr.writerow(final_row)

In [41]:
col1_name, col2_name, col3_name = ("symbol","primaryIdentifier", "length")
df = pd.read_csv("csvfile.csv", names=[col1_name, col2_name, col3_name], header=None)

In [42]:
df

            symbol primaryIdentifier length
0  '0610005C13Rik'     'MGI:1918911'   None
1  '0610006L08Rik'     'MGI:1923503'   None
2  '0610008J02Rik'     'MGI:1925547'   None
3  '0610009B22Rik'     'MGI:1913300'   None
4  '0610009E02Rik'     'MGI:3698435'   None
5  '0610009F21Rik'     'MGI:1918921'   None
6  '0610009K14Rik'     'MGI:1918931'   None
7  '0610009L18Rik'     'MGI:1914088'   None
8  '0610009O20Rik'     'MGI:1914089'   None
9  '0610010F05Rik'     'MGI:1918925'   None